<footer id="footer" class="bg-dark text-white py-5" style="margin-top: 40px">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-12">
        <h4 class="font-rubik font-size-20">Mobile Shopee</h4>
        <p class="font-size-14 font-rale text-white-50">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation.
        </p>
      </div>
      <div class="col-lg-2"></div>
      <div class="col-lg-2 col-12">
        <h4 class="font-rubik font-size-20">Information</h4>
        <div class="d-flex flex-column flex-wrap">
          <a href="about.html" class="font-rale font-size-14 text-white-50 pb-1"
            >About Us</a
          >
          <a
            href="delivery.html"
            class="font-rale font-size-14 text-white-50 pb-1"
            >Delivery Information</a
          >
          <a href="pp.html" class="font-rale font-size-14 text-white-50 pb-1"
            >Privacy Policy</a
          >
          <a href="/tnc.html" class="font-rale font-size-14 text-white-50 pb-1"
            >Terms & Conditions</a
          >
        </div>
      </div>
    </div>
  </div>
</footer>
